<header class="header">
  <button>back</button>
  <button>menu</button>
</header>

<div class="search">
  <input value="Angular Http Interceptor" />
</div>

<h2>Some stories related to Angular Http Interceptor</h2>

<div class="stories">
  <div class="story">
    <div class="story-top">
      <div class="story-title">Catch every request error in Angular</div>
      <button>bookmark</button>
    </div>
    <div class="story-bottom">
      <div class="story-author-avatar"></div>
      <div class="story-author">Anonymous One</div>
      <div class="story-actions">
        <button>like</button>
        <button>comment</button>
        <button>views</button>
      </div>
    </div>
  </div>
</div>
