<header class="header">
  <div class="avatar"></div>
  <button class="notification-button">notify</button>
</header>

<div class="subheader">
  <h5 class="greeting">Hi, Anonymous One!</h5>
  <h2 class="greeting-message">Welcome, write and read millions of articles...</h2>
</div>

<div class="search">
  <input placeholder="Search Stories" />
</div>

<div class="categories">
  <h3>Categories</h3>
  <div class="categories-container">
    <span class="category active">#Technology</span>
    <span class="category">#Science</span>
  </div>
</div>

<div class="stories">
  <div class="story">
    <div class="story-details">
      <span class="story-title">Some story title goes here</span>
      <a class="story-link">Read more -></a>
    </div>
  </div>
</div>
